<template name="deviceList">
    <div class="row deviceList">
        <table class="table table-striped">
            <thead>
            <th>Device name</th>
            <th>OS</th>
            <th>Browsers</th>
            <th>Office</th>
            <th>Availability</th>
            </thead>
            <tbody>
            {{#each devices}}
                <tr>
                    <td><a class="editLabelA" href="/devices/{{this._id}}"><span class="glyphicon glyphicon-pencil editLabel"></span></a>{{this.name}}</td>
                    <td>{{this.os}}</td>
                    <td>
                        {{#each this.browsersList}}
                            <span class="label label-default">{{this}}</span>
                        {{/each}}
                    </td>
                    <td>{{this.office}}</td>
                    <td>
                        {{#if this.takenBy}}
                            <span class="label {{#if this.booked}}label-danger{{else}}label-warning{{/if}}">{{this.takenBy}}</span>
                        {{else}}
                            <a href=""><span class="label label-success bookDevice">Click to Book</span></a>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>